body {
	margin: 50px 50px;
}

/*  COLORS - layout  */
.color_swatches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  margin: auto;
}

.swatch {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  border-radius: 5px;
  border: solid black;
  margin: 0;
  padding: 0;
}


.color_details {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
	background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.color_one {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  flex: 1;
  height: 100%;
  border-top-left-radius: 5px;
}

.color_two {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  flex: 1;
  height: 100%;
  border-top-right-radius: 5px;
}


/************************/
/* 	    COLORS        */
/************************/

.primary {
	background-color: #FF7F51;
}


.primary_hoover {
	background-color: #FF6933;
}


.text-primary {
  color: #FF7F51;	
}


.secondary {
	background-color: #0466C8;
}


.secondary_hoover {
	background-color: #0352A0;
}


.text-secondary {
  color: #0466C8;	
}



.light_grey {
	background-color: #E8EBED;
}

.light_grey_hoover {
	background-color: #D2D7DB;
}

.text-light_grey {
  color: #E8EBED;	
}


.medium_grey {
	background-color: #B0B8BF;
}

.medium_grey_hoover {
	background-color: #99A3AD;
}

.text-medium_grey {
  color: #B0B8BF;	
}


.dark_grey {
	background-color: #495057;
}

.dark_grey_hoover {
	background-color: #383D43;
}

.text-dark_grey {
  color: #495057;	
}


/************************/
/* 	    BUTTONS         */
/************************/

/*  BUTTONS - layout  */
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  margin: auto;
}

.buttons-small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  margin: auto;
}

.buttons-large {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  margin: auto;
}

.btn{
  border-radius: 5px;
  border: solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
}

.btn-sm{
  border-radius: 5px;
  border: solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
}

.btn-lg{
  border-radius: 5px;
  border: solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
}

.btn-primary {
	background-color: #FF7F51;
  color: white;
}

.btn-secondary {
	background-color: #0352A0;
  color: white;
}

.btn-warning {
	background-color: #F9C74F;
  color: white;
}

.btn-danger {
	background-color: #F94144;
  color: white;
}

.btn-success {
	background-color: #74A94C;
  color: white;
}

.btn-info {
	background-color: #4D908E;
  color: white;
}

.btn-outline-primary {
  background-color: white;
  border: solid #FF7F51;
  color: #FF7F51;
}

.btn-outline-secondary {

  background-color: white;
  border: solid #0352A0;
  color: #0352A0;
}

.btn-outline-warning {
	background-color: white;
  border: solid #F9C74F;
  color: #F9C74F;
}

.btn-outline-danger {
	background-color: white;
  border: solid #F94144;
  color: #F94144;
}

.btn-outline-success {
	background-color: white;
  border: solid #74A94C;
  color: #74A94C;
}

.btn-outline-info {
	background-color: white;
  border: solid #4D908E;
  color: #4D908E;
}

/************************/
/* 	    FONTS           */
/************************/

h1 {
  display: block;
  font-size: 2.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}

h2 {
  display: block;
  font-size: 2em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}


h3 {
  display: block;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}

h4 {
  display: block;
  font-size: 1.3em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}

h5 {
  display: block;
  font-size: 1.17em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}

h6 {
  display: block;
  font-size: 1.1em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
}

lead {
  font-family: 'Karla', sans-serif;
  font-size: 1.3em;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}


ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  line-height: 1.6em;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  line-height: 1.6em;
}

li {
  font-family: 'Karla', sans-serif;
}



/************************/
/* 	    FORMS           */
/************************/

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 10px;;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

}


.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

 .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: blue;;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}




/* Radio button*/
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark-radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark-radio {
  background-color: #FF7F51;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark-radio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


/* Checkbox */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark-checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: #FF7F51;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/************************/
/* 	    CARDS           */
/************************/


.card {
  width: 350px; 
  border: solid black; 
}


.card-body {
  padding: 20px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0%;
}

/* 	Card 4  */
.card-logo {
  padding-top: 60px;
  text-align: center;
}



/* 	Card 5  */
.card-picture {
  background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395__480.jpg");
  width: 350px;
  height: 200px;
  color: white;
  text-align: center;
}